.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* Menu mobile do bootstrap é um svg, entao para mudar precisa ser por background-image. para mudar de cor é so mudar o rgba -->          🔼🔼🔼  */
}

.navbar{
    background-color: white;
}

/***Estilo Próprios***/

.box-fix{
    position: relative;
    top: 60px;
}

section.bg-top{
    width: 100%;
    min-height: 600px;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.fix-zindex{
    position: relative;
    z-index: 2;
}

.overlay{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(120, 120, 120, 0.40);
    
}

.texto-bg{
    display: inline-block;
    color: white;
    padding:140px 0;
}

section.chamada{
    background-color: #0AA2C0;
}

section.chamada h2{
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 5px 0;
}

section.sobre{
    padding: 30px 0;
}

section.sobre .container .row > div{
    height: 4px;
    width: 40px;
    display: inline-block;
    position: relative;
    background: #0AA2C0;
    margin-left: 13px;
}

section.sobre h2{
    color: #9e9e9e;
}
